---
layout: null
---
@charset "utf-8";

// Typography Variables

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// Color Variables

$blue: hsla(200, 90%, 40%, 1.0);
$dark-grey: hsla(0, 0%, 45%, 1.0);
$light-grey: hsla(0, 0%, 95%, 1.0);
$black: hsla(0, 0%, 20%, 1.0);
$marsala: hsla(1, 30%, 45%, 1.0);
$white: hsla(0, 0%, 100%, 1.0);
$off-white: hsla(0, 0%, 99%, 1.0);
$teal: hsla(162, 46%, 65%, 1.0);
$nate-green: hsla(145, 50%, 25%, 1.0);

// Theme Color Variables

$background-color: $light-grey;
$text-color: $dark-grey;
$link-color: $blue;
$heading-color: $black;
$button-color: $marsala;
$card-color: $off-white;
$site-header-color: transparentize($nate-green, 0.1);

// Breakpoints

$tablet: 40em;
$laptop: 80em;
$desktop: 120em;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Mixins for shadows

@mixin medium-shadow {
  box-shadow: 0 .25rem .5rem transparentize($black, 0.75);
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "home-page"
;
