---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Typography Variables

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// Color Variables

$blue: hsla(200, 90, 40, 1.0);
$dark-grey: hsla(0, 0, 45, 1.0);
$light-grey: hsla(0, 0, 95, 1.0);
$black: hsla(0, 0, 20, 1.0);
$marsala: hsla(350, 65, 40, 1.0);
$white: hsla(0, 0, 100, 1.0);
$off-white: hsla(0, 0, 99, 1.0);

// Theme Color Variables

$background-color: $light-grey;
$text-color: $dark-grey;
$link-color: $blue;
$header-color: $black;
$button-color: $marsala;
$card-color: $off-white;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"
;
