---
layout: default
title: 'Home'
weight: -1
---

    <section id="masthead">
      <h1>Nate Green: UX &amp; Visual Designer</h1>
    </section>

    <section id="summary">
      <p></p>
      <!-- <a href="/portfolio" class="cta">Portfolio</a> -->
      <!-- <a href="/Nate-Green-Resume.pdf" class="cta">Résumé</a> -->
    </section>
    
    <!-- If there are blog posts... -->
    {% if site.posts != empty %}
      <section id="recent-posts">
      <h2>Recent Blog Posts</h2>
        <!-- For the 3 most recent posts -->
        {% for post in site.posts limit:3 %}
          <div class="card">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            {{ post.excerpt | markdownify }}
            <p><a href="{{ post.url }}">Read more ></a></p>
          </div>
        {% endfor %}
      </section>
    {% endif %}