<footer>
  <section class="about">
    <img src="" alt="" />
    <h1>About Nate Green</h1>
    <p>I'm a UX designer with a visual design background. I work at MRI Software in Northeast Ohio, designing interfaces for cutting-edge real estate management software.</p>
  </section>
  <section class="h-card">
    <span class="p-name">Nate Green</span>
    <span class="p-job-title">UX &amp; Visual Designer</span>
    <a href="mailto:heynategreen@gmail.com" class="u-email">heynategreen@gmail.com</a>
    <span class="p-tel">(330) 235-3306</span>
  </section>
  {% if site.pages %}
    <nav>
      <ul>
        {% for page in site.pages %}
          {% if page.layout != null %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
</footer>
