<footer>
  <section class="about">
    <img src="/images/nate.jpg" alt="Nate Green" />
    <h1>About Nate Green</h1>
    <p>I'm a UX designer with a visual design background. My design process is principled and user-centered, and I love learning and experimenting with new techniques.<!--  I work at MRI Software in Northeast Ohio, designing interfaces for cutting-edge real estate management software. --></p>
    <p>I'm working on a Master's degree in User Experience Design at Kent State University (online). Soon, I'll be putting up a proper portfolio to show off the projects I've been working on, but for now I'm posting each week to <a href="/blog">my blog</a>, sharing some of the things I'm learning and thinking about.</p>
    <p><strong>Questions? Comments? <a href="mailto:heynategreen@gmail.com">Email me.</a></strong></p>
  </section>
<!--   <section class="h-card">
    <span class="p-name">Nate Green</span>
    <span class="p-job-title">UX &amp; Visual Designer</span>
    <a href="mailto:heynategreen@gmail.com" class="u-email">heynategreen@gmail.com</a>
    <span class="p-tel">(330) 235-3306</span>
  </section> -->
<!--   {% if site.pages %}
    <nav>
      <ul>
        {% for page in site.pages %}
          {% if page.layout != null %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %} -->
</footer>
