<header class="">
  {% if site.pages %}
    <nav>
      <a id="menu-button" class="button" name="Menu">Menu</a>
      <h3>Menu</h3>
      <ul>
        {% for item in site.pages %}
          {% if item.layout != null %}
          <li><a href="{{ item.url }}" {% if page.url == item.url %} class="active"{% endif %}>{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li><a href="/Nate-Green-Resume.pdf">Résumé</a></li>
      </ul>
    </nav>
  {% endif %}
  <section class="h-card">
    <a href="/" class="p-name">Nate Green</a>
    <span class="p-job-title">UX &amp; Visual Designer</span>
    <a href="mailto:heynategreen@gmail.com" class="u-email">heynategreen@gmail.com</a>
    <span class="p-tel">(330) 235-3306</span>
  </section>
</header>
