<header class="">
  {% if site.pages %}
    <a id="menu-button" class="button" name="Menu">Menu</a>
    <nav>
      <h3>Menu</h3>
      <ul>
        {% assign sorted_pages = site.pages | sort: "weight" %}
        {% for p in sorted_pages %}
          {% if p.layout != null %}
          <li><a href="{{ p.url }}" {% if page.url == p.url %} class="active"{% endif %}>{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li><a href="#about">About</a></li>
        <li><a href="/Nate-Green-Resume.pdf">Résumé</a></li>
      </ul>
    </nav>
  {% endif %}
  <section class="h-card">
    <a href="/" class="p-name">Nate Green</a>
    <span class="p-job-title">UX &amp; Visual Designer</span>
    <a href="mailto:{{ site.email }}" class="u-email">{{ site.email }}</a>
    <span class="p-tel">(330) 235-3306</span>
  </section>
</header>
