/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    transition: all .5s cubic-bezier(0,1,1,1);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/**
 * Basic styling
 */

html {
  font-family:
    Libertad,
    Source Sans Pro,
    Calibri,
    sans-serif;
  color: $text-color;
  background-color: $background-color;

  @include media-query($tablet) {
    font-size: 1.125em;
  }

  @include media-query($laptop) {
    font-size: 1.25em;
  }
}

// add spacing above each element that is preceded by another element

body * + * {
  margin-top: 1em;
}

/**
 * Headings
 */

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  font-style: normal;
  
  color: $heading-color;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;

  color: $heading-color;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  font-style: italic;

  color: $heading-color;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;

  color: $heading-color;

}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: italic;

  color: $heading-color;
}

h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;

  color: $heading-color;
}

/**
 * Block-level Text Elements
 */

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
  
  color: $text-color;
}

blockquote {
  $color: tint($text-color, 50%);
  
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: italic;
  padding: .5rem 1rem;
  border-left: .1rem solid $color;
  
  color: $color;
}

/**
 * Links
 */

a {
  color: $link-color;
  text-decoration: none;
  
  &:hover {
    color: shade($link-color, 20%);
    text-decoration: underline;
  }
}

a.button, button {
  display: inline-block;
  
  font-size: 1rem;
  line-height: 1rem;
  
  color: $button-color;
  
  border: 1px solid $button-color;
  border-radius: .25rem;
  
  margin-right: 1rem;
  padding: .5rem 1rem;
  
  &:nth-last-of-type(1) {
    margin-right: 0;
  }
  
  &:hover {
    text-decoration: none;
    
    color: tint($button-color, 15%);
    border-color: tint($button-color, 15%);
    background-color: transparentize($button-color, 0.95);
  }
  
  &:active {
    color: shade($button-color, 25%);
    border-color: shade($button-color, 25%);
  }
}

/**
 * Lists
 */

li {
    list-style-type: disc;
    margin-left: 1rem;
}

/**
 * Cards
 */

.card {
  background: $card-color;
  padding: 1.5rem;
  // margin-left: 0;
  // margin-right: 0;
  border-bottom: 1px solid shade($card-color, 10%);
  border-left: 1px solid shade($card-color, 5%);
  border-right: 1px solid shade($card-color, 5%);
  border-top: 1px solid tint($card-color, 75%);
  border-radius: .125rem;
  
  list-style-type: none;
  
  * + & {
    margin-top: 2rem;
  }
  
  &:nth-of-type(N + 2) {
    margin-top: 1rem;
  }
    
  @include medium-shadow;
}

li.card {
    margin-left: 0;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $text-color;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $text-color;
        }
    }
}
