#masthead {
  position: relative;
  z-index: -1;
  height: 33.333vh;
  min-height: 50vh;
  padding-top: 25vh;
  padding-bottom: 2rem;
  background-color: $teal;
  background-image: url(/images/tools.svg);
  background-position: center calc(-10vw + 2vh);
  background-repeat: no-repeat;
  background-size: 150%;
  background-attachment: fixed;

  h1 {
    position: absolute;
    bottom: 2rem;
    color: $white;
    text-shadow: 0 .125rem .25rem $marsala;
  }

  @include media-query($tablet) {
    background-size: calc(#{$tablet} + 25%);
  }
}