body {
  > section,
  > header,
  > footer {
    width: 100%;

    > * {
      padding-left: 1rem;
      padding-right: 1rem;

      @include media-query($tablet) {
        padding-left: calc(50% - #{$tablet / 2});
        padding-right: calc(50% - #{$tablet / 2});
      }
    }
  }
}

body > header {
  padding: 1rem 0;
  border-bottom: .125rem solid lighten($text-color, 25%);
}

