/**
 * Page Sizing
 */

body > * {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-query($tablet) {
    padding-left: 25%; // fallback
    padding-right: 25%; // fallback
    padding-left: calc(50% - #{$tablet / 2});
    padding-right: calc(50% - #{$tablet / 2});
  }
}


/**
 * Site Header
 */

body > header {
  position: fixed;
  top: 0;
  // height: 3rem;
  width: 100%;

  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: $site-header-color;
}

body > header + * > *:first-child {
  padding-top: 6rem;
}

body > header + * {
  margin-top: 0;
}