#masthead {
  height: 33.333vh;
  background-image: url(/images/tools.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    color: $white;
    text-shadow: 0 .25rem .25rem $marsala;
  }
}