---
layout: default
---
  <article class="h-entry">
    <header>
      <h1 class="p-name">{{ page.title }}</h1>
      <p><time class="dt-published" datetime="{{ page.date | '%Y-%m-%d'}}">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span class="p-author h-card">{{ page.author }}</span>{% endif %}<span>{% if page.meta %} • {{ page.meta }}</span>{% endif %}</p>
    </header>
    <section class="e-content">
      {{ content }}
    </section>
  </article>
{% if page.next or page.previous %}
	<aside class="post-nav">
		<h2>Keep Reading</h1>
		<ul>
		{% if page.next %}
			<li class="card">
				<h3>
					<a href="{{ page.next.url }}">Next post: {{ page.next.title }}</a>
				</h3>
				{{ page.next.excerpt | markdownify }}
				<p><a href="{{ page.next.url }}">Read more ></a></p>
			</li>
		{% endif %}
		{% if page.previous %}
			<li class="card">
				<h3>
					<a href="{{ page.previous.url }}">Previous post: {{ page.previous.title }}</a>
				</h3>
				{{ page.previous.excerpt | markdownify }}
				<p><a href="{{ page.previous.url }}">Read more ></a></p>
			</li>
		{% endif %}
		</ul>
	</aside>
{% endif %}