// Typography Variables

$base-font-family: Libertad, Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// Color Variables

$blue: hsla(200, 90%, 40%, 1.0);
$dark-grey: hsla(0, 0%, 45%, 1.0);
$light-grey: hsla(0, 0%, 95%, 1.0);
$black: hsla(0, 0%, 20%, 1.0);
$marsala: hsla(1, 30%, 45%, 1.0);
$white: hsla(0, 0%, 100%, 1.0);
$off-white: hsla(0, 0%, 99%, 1.0);
$teal: hsla(162, 46%, 65%, 1.0);
$nate-green: hsla(155, 50%, 25%, 1.0);

// Theme Color Variables

$background-color: $light-grey;
$text-color: $dark-grey;
$link-color: $blue;
$heading-color: $black;
$button-color: $marsala;
$card-color: $off-white;
$site-header-color: transparentize($nate-green, 0.125);

// Breakpoints

$tablet: 40em;
$laptop: 80em;
$desktop: 120em;